python-telegram-bot[webhooks]==21.2
Flask[async]==3.0.3
gspread==6.0.0
google-auth-oauthlib==1.2.0
google-api-python-client==2.126.0
python-dotenv==1.0.1
requests==2.32.3
uvicorn==0.30.1
asgiref==3.8.1 # Added for Flask-Uvicorn compatibility
